/* Style inputs, select elements  */
input[type=text], input[type=password]{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
    display: inline-block;
  font-size:20px;
}

/* Style the submit button */
input[type=submit] ,input[type=reset] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: border-color;
  border-radius: 4px;
  cursor: pointer;
  float: relative;

}

/* Style the container */
.container {
  border-radius: 150px;
  background-color: #E5E8E8   ;
  padding: 50px;
  
}


.error{
color:red;
display:none;
}

body{
text-align:relative;
padding:10px;

}